@import 'variables';
@import 'price-cards';

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
	font-family: "Montserrat", sans-serif;
	background-color: #141b1c;
  color: $color-light;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: $color-orange;
  border-radius: 5px;
}