.price-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18px;
  padding: 60px 0;
}

.price-card {
  position: relative;
  width: 380px;
  min-height: 770px;
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.09);
  background: $color-bg-card;
  overflow: hidden;
  padding: 32px 0 40px;


  &__badge {
    position: absolute;
    top: 32px;
    right: -43px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    transform: rotate(45deg);
    background-color: $color-red;
    padding: 4px 50px;
  }

  &__title {
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    margin: 0;
  }

  &__sub {
    display: block;
    font-size: 20px;
    text-align: center;
    margin-bottom: 32px;
  }

  &__price {
    display: block;
    font-size: 55px;
    text-align: center;
    padding: 18px 0;
    margin-bottom: 40px;
  }

  &__price--green {
    background-color: $color-green;
  }
  &__price--blue {
    background-color: $color-blue;
  }
  &__price--orange {
    background-color: $color-orange;
  }

  &__desc {
    width: 326px;
    margin: 0 auto;
    font-weight: 300;
    font-size: 15px;
    text-align: center;
    margin-bottom: 40px;
  }

  &__list {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-bottom: 38px;
  }

  &__btn {
    display: block;
    border: 0;
    outline: 0;
    width: 154px;
    height: 40px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    border-radius: 20px;
    text-transform: uppercase;
    color: $color-light;
    margin: 0 auto;
  }

  &__btn--green {
    background-color: $color-green;
  }
  &__btn--blue {
    background-color: $color-blue;
  }
  &__btn--orange {
    background-color: $color-orange;
  }
}

.card-list {
  display: flex;
  flex-direction: column;
  font-weight: 300;
  font-size: 15px;

  &__item {
    display: flex;
    align-items: center;
    gap: 22px;
    height: 50px;
    padding-left: 22px;

    &:nth-of-type(odd) {
      background-color: $color-bg-item;
    }

    .icon-green {
      background-image: url('./images/green-icon.svg');
      background-repeat: no-repeat;
    }
    .icon-blue {
      background-image: url('./images/blue-icon.svg');
      background-repeat: no-repeat;
    }
    .icon-orange {
      background-image: url('./images/orange-icon.svg');
      background-repeat: no-repeat;
    }
  }

  &__item-icon {
    width: 15px;
    height: 13px;
  }
}
